In [28]:
import json
import pandas as pd

In [29]:
with open('2021-12-26_trips.txt') as f:
    json_data = json.load(f)

In [67]:
dictionary_trips = {'trip_id':[], 'approval_mode':[]}

for trip_dictionary in json_data:
    trip_id = list(trip_dictionary.keys())[0]
    the_trip = trip_dictionary[trip_id]
    ride = the_trip['ride']
    approval_mode = ride.get('approval_mode')
    dictionary_trips['trip_id'].append(trip_id)
    dictionary_trips['approval_mode'].append(approval_mode)
    
    #print(trip_id, approval_mode)

In [64]:
df_approval_mode = pd.DataFrame.from_dict(dictionary_trips)

In [65]:
df_approval_mode

                                       trip_id approval_mode
0     2359334803-rennes-herouville-saint-clair        MANUAL
1                    2359356943-merignac-balma        MANUAL
2             2359359933-montgiscard-martigues          None
3               2359341918-rennes-saint-brieuc     AUTOMATIC
4                    2359300473-marseille-lyon          None
...                                        ...           ...
6190                2357837018-somain-colombes        MANUAL
6191              2357583378-toulouse-tarbes-1          None
6192              2357583378-toulouse-tarbes-1          None
6193              2357583378-toulouse-tarbes-1          None
6194              2357583378-toulouse-tarbes-1        MANUAL

[6195 rows x 2 columns]